.movie-container {
  position: relative;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #f4f4f4;
  .movie-image {
    flex: 0 0 40%; /* Fixed width for the movie image */
    margin: 0 5vw;
    img {
      width: 55%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  .movie-details {
    flex: 1; /* Take remaining width */
    max-width: 80%;

    h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 8px;
      line-height: 1.5;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        margin-bottom: 10px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    .movie-image {
      flex: 1;
      margin-right: 0;
      margin-bottom: 20px;
    }

    .movie-details {
      flex: 1;
      max-width: 100%;
    }
  }
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;

  /* Default state */
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */

  /* Hover state */
  &:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }

  /* Active/focus state */
  &:active,
  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3); /* Focus outline */
  }
}
.star-container {
  transform: scale(2);
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  mat-icon {
    cursor: pointer;
    transition: all 0.25s;
    font-size: 24px;
    color: #ffd700;
    margin-right: 4px;
    &:hover {
      transform: rotate(145deg);
      transition: all 0.25s;
    }
  }
}
